{
	"Version": "2012-10-17",
	"Statement": [
		{
			"Effect": "Allow",
			"Action": [
				"eks:*",
				"iam:*",
				"ec2:*",
				"ec2:CreateTags",
				"ec2:DescribeAccountAttributes",
				"ec2:DescribeInternetGateways",
				"ec2:DescribeNetworkAcls",
				"ec2:DescribeNetworkInterfaces",
				"ec2:DescribeRouteTables",
				"ec2:DescribeSecurityGroupRules",
				"ec2:DescribeSecurityGroups",
				"ec2:DescribeSubnets",
				"ec2:DescribeVpcs",
				"ecr:GetAuthorizationToken",
				"logs:DescribeLogGroups",
				"logs:ListTagsForResource",
				"sts:GetCallerIdentity",
				"iam:CreateRole",
				"iam:AttachRolePolicy",
				"iam:PassRole",
				"route53:GetHostedZone",
				"route53:ChangeResourceRecordSets",
				"route53:ListHostedZones",
				"route53:ListTagsForResource",
				"iam:GetRole",
				"iam:DeleteRole",
				"iam:DetachRolePolicy",
				"iam:ListRolePolicies",
				"iam:ListAttachedRolePolicies",
				"iam:TagRole",
				"iam:UntagRole",
				"iam:ListInstanceProfilesForRole",
				"ec2:DescribeAvailabilityZones",
				"ec2:DescribeRegions",
				"route53:GetChange",
				"s3:GetBucketWebsite",
				"s3:GetBucketCORS",
				"s3:GetBucketObjectLockConfiguration",
				"s3:GetBucketPolicy",
				"s3:GetBucketPolicyStatus",
				"ec2:DeleteNetworkInterface",
				"route53:ListResourceRecordSets"
			],
			"Resource": "*"
		},
		{
			"Effect": "Allow",
			"Action": [
				"ec2:AttachInternetGateway",
				"ec2:CreateInternetGateway",
				"ec2:DeleteInternetGateway",
				"ec2:DetachInternetGateway"
			],
			"Resource": "arn:aws:ec2:${region}:${account_id}:internet-gateway/*"
		},
		{
			"Effect": "Allow",
			"Action": [
				"ec2:AssociateRouteTable",
				"ec2:DisassociateRouteTable",
				"ec2:CreateRoute",
				"ec2:CreateRouteTable",
				"ec2:DeleteRouteTable"
			],
			"Resource": "arn:aws:ec2:${region}:${account_id}:route-table/*"
		},
		{
			"Effect": "Allow",
			"Action": [
				"ec2:AuthorizeSecurityGroupEgress",
				"ec2:AuthorizeSecurityGroupIngress",
				"ec2:RevokeSecurityGroupEgress",
				"ec2:RevokeSecurityGroupIngress",
				"ec2:CreateSecurityGroup",
				"ec2:DeleteSecurityGroup"
			],
			"Resource": "arn:aws:ec2:${region}:${account_id}:security-group/*"
		},
		{
			"Effect": "Allow",
			"Action": [
				"ec2:CreateSubnet",
				"ec2:DeleteSubnet",
				"ec2:ModifySubnetAttribute",
				"ec2:AssociateRouteTable",
				"ec2:DisassociateRouteTable"
			],
			"Resource": "arn:aws:ec2:${region}:${account_id}:subnet/*"
		},
		{
			"Effect": "Allow",
			"Action": [
				"ec2:AttachInternetGateway",
				"ec2:CreateRouteTable",
				"ec2:CreateSubnet",
				"ec2:CreateVpc",
				"ec2:DeleteVpc",
				"ec2:DescribeVpcAttribute",
				"ec2:DetachInternetGateway",
				"ec2:GetSecurityGroupsForVpc",
				"ec2:ModifyVpcAttribute",
				"ec2:CreateSecurityGroup",
				"ec2:DeleteSecurityGroup"
			],
			"Resource": "arn:aws:ec2:${region}:${account_id}:vpc/*"
		},
		{
			"Effect": "Allow",
			"Action": [
				"ecr:BatchCheckLayerAvailability",
				"ecr:CompleteLayerUpload",
				"ecr:DeleteRepository",
				"ecr:DescribeRepositories",
				"ecr:InitiateLayerUpload",
				"ecr:ListTagsForResource",
				"ecr:PutImage",
				"ecr:UploadLayerPart",
				"ecr:DescribeImageScanFindings"
			],
			"Resource": "arn:aws:ecr:${region}:${account_id}:repository/memos"
		},
		{
			"Effect": "Allow",
			"Action": [
				"kms:CreateGrant",
				"kms:DescribeKey"
			],
			"Resource": "arn:aws:kms:${region}:${account_id}:key/*"
		},
		{
			"Effect": "Allow",
			"Action": [
				"logs:CreateLogGroup",
				"logs:DeleteLogGroup"
			],
			"Resource": "arn:aws:logs:${region}:${account_id}:log-group:*"
		},
		{
			"Effect": "Allow",
			"Action": [
				"s3:ListBucket",
				"s3:GetBucketLocation",
				"s3:GetBucketVersioning",
				"s3:GetBucketEncryption",
				"s3:GetBucketPolicy",
				"s3:GetBucketPolicyStatus",
				"s3:GetBucketWebsite",
				"s3:GetBucketCORS",
				"s3:GetBucketTagging",
				"s3:GetBucketLogging",
				"s3:GetBucketObjectLockConfiguration",
				"s3:GetBucketAcl",
				"s3:GetLifecycleConfiguration",
				"s3:GetReplicationConfiguration"
			],
			"Resource": [
				"arn:aws:s3:::memos-eks-tfstate-${account_id}"
			]
		},
		{
			"Effect": "Allow",
			"Action": [
				"s3:GetObject",
				"s3:PutObject",
				"s3:DeleteObject"
			],
			"Resource": [
				"arn:aws:s3:::memos-eks-tfstate-${account_id}/*"
			]
		}
	]
}
